.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
  top: var(--swiper-pagination-top, auto);
  left: 45% !important;
  background-color: white !important;
  width: 100px !important;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  padding: 10px;
}
.swiper-pagination-horizontal {
  width: 100% !important;
}

.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet-active {
  border-radius: 0%;
}


.swiper-pagination-bullet {
  height: 15px !important;
  background-color: transparent !important;
  border: 1px solid rgb(62, 62, 62) !important;
  width: 15px !important;
  border-radius: 100% !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  width: 30px !important;
  height: 15px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  opacity: 100% !important;
  border: none !important;
  background-color: #4b5966 !important;
}